# Created by .ignore support plugin (hsz.mobi)
.idea
.vscode
node_modules
js
types
tests/play.ts
yarn.lock
benchmarks


*.js
!bundle.js
!japaFile.js
*.d.ts
!index.esm.d.ts
!validators/validators.d.ts
*.log