<!doctype html>
<!--suppress JSUnresolvedLibraryURL -->
<html lang="en">
<head>
  <title>Abolish PlayGround</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/abolish@4.8.16/browser.min.js"></script>

  <!--  Import more validators-->
  <script src="https://cdn.jsdelivr.net/npm/abolish@4.8.16/validators/string/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/abolish@4.8.16/validators/array/index.min.js"></script>

  <!--Import other libs-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
        integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <style>
      body {
          background: #22272e;
      }

      textarea {
          min-height: 600px;
      }

      textarea:disabled {
          cursor: text;
      }

      /* Set textarea min-height 400px on mobile */
      @media screen and (max-width: 600px) {
          textarea {
              min-height: 400px;
          }
      }

      /* Set textarea min-height 500px on medium size devices */
      @media screen and (max-width: 1022px) {
          textarea {
              min-height: 450px;
          }
      }
  </style>
</head>
<body class="text-white">
<div id="app" hidden>
  <div class="mx-auto my-10 px-5">
    <h1 class="text-3xl text-center tracking-wider">
      Abolish Validator PlayGround
    </h1>

    <div class="text-sm text-center">
      <a href="https://abolish.trapcode.io" target="_blank" class="text-green-400">Abolish Documentation</a>
    </div>

    <div class="my-10 text-center">
      <h6 class="text-xs text-yellow-400">Registered Validators: ({{validators.length}})</h6>

      <div class="flex flex-wrap gap-y-1 gap-x-2 mt-2 justify-center">
        <template v-for="v in validators">
          <button class="text-xs bg-gray-700 text-green-300 hover:text-yellow-400 px-2 py-0.5 rounded">{{v}}</button>
        </template>
      </div>
    </div>

    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-x-5 lg:space-x-10">
      <div class="col-span-1">
        <label for="data" class="text-yellow-400">Data: <span v-if="dataHasError"
                                                              class="text-red-500">Has error!</span></label>
        <textarea class="leading-6 text-green-900" :class="{'bg-red-100': dataHasError, [textareaClass]: true}"
                  @change="validate"
                  v-model="data" id="data"></textarea>
      </div>
      <div class="col-span-1">
        <label for="rules" class="text-yellow-400">
          Rules: <span v-if="rulesHasError" class="text-red-500">Has error!</span>
          <button @click.prevent="parseRules" class="float-right text-sm text-green-400 hover:text-green-500">Parse
            Rules
          </button>
        </label>
        <textarea class="leading-6 text-blue-900" :class="{'bg-red-100': rulesHasError, [textareaClass]: true}"
                  @change="validate"
                  v-model="rules" id="rules"></textarea>
      </div>
      <div class="col-span-1 md:col-span-2 lg:col-span-1 md:h-20">
        <label for="result" class="text-yellow-500">
          Result:
          <span class="text-sm" :class="[resultHasError ? 'text-red-400' : 'text-green-400']">
          {{resultHasError ? 'Failed Validation!' : 'Passed Validation!'}}
        </span>
        </label>
        <textarea v-model="result" id="result"
                  :class="{[textareaClass]: true, 'bg-red-200': resultHasError, 'bg-green-200': !resultHasError}"
                  disabled></textarea>
      </div>
    </div>
  </div>
</div>

<script type="module">
  // Destruct Vue
  const {ref, createApp, computed, onMounted, watch, onBeforeMount} = Vue;
  // Destruct AbolishBrowser
  const {Abolish, Rule, ParseRules} = AbolishBrowser;
  // Initialize Abolish
  const abolish = new Abolish();
  // abolish.config.useStartCaseInErrors = false;

  // Add email validator
  abolish.addValidators(AbolishStringValidators);
  abolish.addValidators(AbolishArrayValidators);

  // Get list of registered validators
  const validators = Object.keys(Abolish.getGlobalValidators()).
      concat(Object.keys(abolish.validators)).
      filter(v => !['$inline'].includes(v)).sort();

  // Textarea class to reduce redundant code
  const textareaClass = 'w-full rounded shadow-lg border-2 border-gray-900 p-4 font-mono text-xs text-black';

  /**
   * Check if json is valid
   * @param data
   * @returns {boolean}
   */
  function isValidJson(data) {
    try {
      JSON.parse(data);
      return true;
    } catch (e) {
      return false;
    }
  }

  /**
   * Convert object to json
   * @param data
   * @returns {string}
   */
  function toJson(data) {
    return JSON.stringify(data, null, 2);
  }

  /**
   * Convert json to object
   * @param data
   * @returns {any}
   */
  function fromJson(data) {
    return JSON.parse(data);
  }

  // Vue Setup function
  function setup() {
    /**
     * ===== Variables =====
     */
    let timeout = -1;
    const result = ref(toJson([]));
    const data = ref(toJson({
          email: 'john@example.com',
          name: 'John Doe',
          phone: '+1 (123) 456-7890',
          address: {
            street: '123 Main St',
            city: 'Anytown',
            state: 'CA',
            zip: '12345',
          },
          jsonDump: '{"verified": true}',
          verified: '02/05/2020',
          registered: '02/05/2020',
        },
    ));

    const rules = ref(toJson({
      '*': 'required|typeof:string',
      email: 'email',
      name: 'minLength:2|maxLength:10',
      'address.state': 'minLength:2|maxLength:2',
      'address.zip': 'number|string:toString',

      'jsonDump': 'json|jsonDecode',
      'verified': 'date',
      'registered': 'date:cast',

      '$include': [
        'phone',
        'address.city',
      ],
    }));

    /**
     * ===== Computed =====
     */
    const dataHasError = computed(() => {
      return !isValidJson(data.value);
    });

    const rulesHasError = computed(() => {
      return !isValidJson(rules.value);
    });

    const resultHasError = computed(() => {
      const r = fromJson(result.value);
      if (typeof r === 'object' && r.hasOwnProperty('error')) {
        return true;
      } else if (Array.isArray(r) && r[0]) {
        return true;
      }
    });

    /**
     * ===== Watchers =====
     */
    watch(data, () => onDataChange(data));
    watch(rules, () => onDataChange(rules));

    /**
     * ===== Functions
     */
    function onDataChange(ref) {

      // Clear timeout if exits
      if (timeout !== -1) clearTimeout(timeout);
      // set new timeout
      timeout = setTimeout(() => {
        if (!isValidJson(ref.value)) return;

        // validate
        validate();

        // refactor
        const refactored = toJson(fromJson(ref.value));
        if (refactored !== ref.value) {
          ref.value = refactored;
        }
      }, 1000);
    }

    function validate() {
      if (!isValidJson(data.value) || !isValidJson(rules.value)) return;

      try {
        result.value = toJson(abolish.validate(fromJson(data.value), fromJson(rules.value)));
      } catch (e) {
        result.value = toJson({error: e.message});
      }

    }

    function parseRules() {
      const shouldParse = confirm('Are you sure you want to parse rules to object?');
      if (!shouldParse) return;

      rules.value = toJson(ParseRules(fromJson(rules.value)));
    }

    onMounted(validate);

    return {
      textareaClass,
      data,
      rules,
      result,
      dataHasError,
      rulesHasError,
      resultHasError,
      validate,
      parseRules,
      validators,
    };
  }

  createApp({
    created() {
      // Remove hidden on created
      document.getElementById('app').removeAttribute('hidden');
    }, setup,
  }).mount('#app');
</script>

</body>
</html>